@font-face {
    font-family: "TECHNIQUE";
    src: url('fonts/TECHNIQUE.ttf');
}
@font-face{
	font-family: "florencesans";
	src: url('fonts/Florsn01.ttf');
}
@font-face{
	font-family: "Walkway";
	font-weight: bold;
	src: url("fonts/Walkway Bold.ttf");
}
@font-face{
	font-family: "Coolvetica";
	src: url("fonts/coolvetica rg.ttf");
}
header
{
	background-color: black;
	position: absolute;
	left:0;
	top:0;
	border: solid black 2px;
	width: 100%;
}
h1{
	color: white;
	position: relative;
	left: 10px;
	font-family: "TECHNIQUE";
	font-weight: normal;
	display: inline-block;
}

h2{
	font-family: "Walkway";
	font-size: 2.5em;
}

h3{
	position:relative;
	width: auto;
	font-family: "Coolvetica";;
	display: inline-block;
	margin: 10px;
}
a#key,a#key:focus, a#key:active {
  text-decoration: none;
  color: black;
  font-family: "Coolvetica";
}
a#key:hover{
	text-decoration: underline;
}
body{
	background-color:#d6d6c2;
}
textarea#comment{
	margin-top: 20px;
	width: 75%;
}
button{
	position: relative;
	display: inline-block;
	left:73%;
	margin:5px;
	background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
button#like
{
	border: solid green 1px;
	left:0;
	color: green;
	width: 48%;
	display: inline-block;
}
button#like:hover{
	background-color:green;
	color: white;
	border: none;
}
button#dislike
{
	background-color:white;
	left:0;
	color: red;
	border: solid red 1px;
	width: 48%;
	display: inline-block;
}
button#dislike:hover{
	background-color:red;
	color: white;
	border: none;
}
button:hover{
	background-color:#d6d6c2;
	color: white;
	border: none;
}

form button{
	border: solid black 1px;
	position: relative;
	left:0;
}

section{
	position: relative;
	left:25%;
	width:50%;
	top:75px;
}
article{
	background-color:white;
	position: relative;
	border: solid #c2c2a3 2px;
	/*border-radius: 10px;*/
	/*left:25%;
	width:50%;*/
	top:0px;
	padding:15px;
}

p{
	padding :10px;
	font-family: "Walkway";
	font-weight: bold;
	font-size: 1.8em;
	display: inline-block;
}
p#instructions{
	font-size: 1em;	
}
img{
	display: inline-block;
	width: 100%;
	height: auto;
}
textarea{
	vertical-align: text-top;
	display: inline-block;
	width: auto;
	font-family: "Walkway";
	margin-bottom: 10px;
}
textarea#category{
	font-family: "Coolvetica";
	display: block;
	margin-bottom: 15px;
	width: 100%;
}
textarea#content{
	font-size: 2em;
	width: 100%;
}
textarea#keyword{
	width: 100%;
}
textarea#author{
	width: 15%;
}
p#image{
	font-size:1em;
	display: inline-block;
}
input{
	display: inline-block;
	font-family: "Walkway";
}

