@font-face {
    font-family: "TECHNIQUE";
    src: url('fonts/TECHNIQUE.ttf');
}
@font-face{
	font-family: "florencesans";
	src: url('fonts/Florsn01.ttf');
}
@font-face{
	font-family: "Walkway";
	font-weight: bold;
	src: url("fonts/Walkway Bold.ttf");
}
@font-face{
	font-family: "Coolvetica";
	src: url("fonts/coolvetica rg.ttf");
}
header
{
	background-color: black;
	position: absolute;
	left:0;
	top:0;
	border: solid black 2px;
	width: 100%;
}
h1{
	color: white;
	position: relative;
	left: 10px;
	font-family: "TECHNIQUE";
	font-weight: normal;
	display: inline-block;
}

h2{
	text-align: center;
	font-family: "Walkway";
	font-size: 2.5em;
	display: inline-block;
}

h3
{
	position:relative;
	left: 45%;
	font-family: "Coolvetica";
	font-size: 1.5em;
	display: inline-block;
}
a#key,a#key:focus, a#key:active {
  text-decoration: none;
  color: black;
  font-family: "Coolvetica";
}
a#key:hover{
	text-decoration: underline;
}
body{
	background-color:#d6d6c2;
}
textarea{
	margin-top: 20px;
	width: 75%;
}
button{
	position: relative;
	display: inline-block;
	left:73%;
	margin:5px;
	background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
button:hover{
	background-color:#d6d6c2;
	color: white;
	border: none;
}

form button{
	border: solid black 1px;
	position: relative;
	left:0;
}

section{
	position: relative;
	left:25%;
	width:50%;
	top:75px;
}
article{
	background-color:white;
	position: relative;
	border: solid #c2c2a3 2px;
	/*border-radius: 10px;*/
	/*left:25%;
	width:50%;*/
	top:0px;
	padding:15px;
}

p{
	padding :10px;
	font-family: "Walkway";
	font-weight: bold;
	font-size: 1.8em;
	/*font-family: 'florencesans';*/
}

img{
	display: inline-block;
	width: 100%;
	height: auto;
}

/**{
	border : solid black 4px;
}*/	